<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <title>Too Hot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/yellow.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        console.log("Connected to server socket!");
    });
    socket.on('newtemp', function (msg) {
        console.log(msg);
        console.log(msg['sick']);
        var newRow = "<tr>";
        newRow += "<td>"+msg['timestamp']+"</td>";
        newRow += "<td>"+msg['sensorID']+"</td>";
        newRow += "<td>"+msg['temp']+"</td>";
        newRow += "</tr>"
        $("#readLog tbody").prepend(newRow);
        $('#readLog tr:last').remove();
        if(msg['sick']){
            document.getElementById("numsicktoday").innerHTML = parseInt(document.getElementById("numsicktoday").innerHTML)+1;
            document.getElementById("numsicktotal").innerHTML = parseInt(document.getElementById("numsicktotal").innerHTML)+1;
        }
        document.getElementById("numreadstoday").innerHTML = parseInt(document.getElementById("numreadstoday").innerHTML)+1;
        document.getElementById("numreadstotal").innerHTML = parseInt(document.getElementById("numreadstotal").innerHTML)+1;
    });


    </script>
</head>
<body>
  <div class="app app-default">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Too</span>Hot</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="active">
        <a href="./index.html">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Sensor 1</div>
        </a>
      </li>

    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">


    </ul>
  </div>
</aside>

<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>
<div class="app-container">

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Too</span>Hot</a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src="./static/assets/images/profile.png">
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">Admin Page</li>
      </ul>

    </div>
  </div>
</nav>

  <div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>


</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-banner card-chart card-green no-br">
      <div class="card-header">
        <div class="card-title">
          <div class="title">Daily Fever Count</div>
        </div>

      </div>
      <div class="card-body">
        <div class="ct-chart-sale"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-yellow-light">
  <div class="card-body">
    <!--<i class="icon fa fa-shopping-basket fa-4x"></i>-->
    <div class="content">
      <div class="title">Fevers Detected Today</div>
        <div class="value"><span class="sign"></span><span id="numsicktoday">{{ num_sick_today }}</span>/<span id="numreadstoday">{{ num_readings_today }}</span></div>
    </div>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-green-light">
  <div class="card-body">
    <!--<i class="icon fa fa-thumbs-o-up fa-4x"></i>-->
    <div class="content">
      <div class="title">Rides Given Today</div>
      <div class="value"><span class="sign"></span>0.4</div>
    </div>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-yellow-light">
  <div class="card-body">
    <!--<i class="icon fa fa-user-plus fa-4x"></i>-->
    <div class="content">
      <div class="title">Fevers Detected This Week</div>
        <div class="value"><span class="sign"></span><span id="numsicktotal">{{ num_sick_total }}</span>/<span id="numreadstotal">{{ num_readings_total }}</span></div>
    </div>
  </div>
</a>

  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-mini">
      <div class="card-header">
        <div class="card-title">Log</div>
      </div>
      <div class="card-body no-padding table-responsive">
        <table class="table card-table" id="readLog">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Sensor ID</th>
              <th>Temperature</th>
            </tr>
          </thead>
          <tbody>
          {% for reading in readings %}
          <tr>
              <td>{{ reading.timestamp }}</td>
              <td>{{ reading.sensorID }}</td>
              <td>{{ reading.temp }}</td>
          </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="./static/assets/js/vendor.js"></script>
  <script type="text/javascript" src="./static/assets/js/app.js"></script>
<script>
if ($('.ct-chart-sale').length) {
  new Chartist.Line('.ct-chart-sale', {
    labels: ["10:20", "10:30", "10:40", "10:50", "11:00", "11:10", "11:20", "11:30", "11:40", "11:50", "12:00", "12:10", "12:20", "12:30", "12:40", "12:50", "13:00", "13:10", "13:20", "13:30"],
    series: [[
        {% for sick_count in previous_days_sick_totals %}
            {{ sick_count }},
        {% endfor %}
    ]]
  }, {
    axisX: {
      position: 'center'
    },
    axisY: {
      offset: 0,
      showLabel: false,
      labelInterpolationFnc: function labelInterpolationFnc(value) {
        return value;
      }
    },
    chartPadding: {
      top: 0,
      right: 0,
      bottom: 0,
      left: 0
    },
    height: 250,
    high: 50,
    showArea: true,
    stackBars: true,
    fullWidth: true,
    lineSmooth: false,
    plugins: [Chartist.plugins.ctPointLabels({
      textAnchor: 'left',
      labelInterpolationFnc: function labelInterpolationFnc(value) {
        return value;
      }
    })]
  }, [['screen and (max-width: 768px)', {
    axisX: {
      offset: 0,
      showLabel: false
    },
    height: 180
  }]]);
}
</script>
</body>
</html>
