<!DOCTYPE html>
<html>
<head>
  <title>Too Hot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/yellow.css">

</head>
<body>




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        console.log("Connected to server socket!");
    });
    socket.on('newtemp', function (msg) {
        console.log(msg);
        if(msg.temp > 10) {
            showSickText();
            setTimeout(showDefaultText, 5000);
        } else {
            showHealthyText();
            setTimeout(showDefaultText, 5000);
        }
    });

    function showDefaultText() {
      document.getElementById("maindisplay").style = "background-color: white";
      document.getElementById("defaulttext").style = "display:unset";
      document.getElementById("sickText").style = "display:none";
      document.getElementById("healthyText").style = "display:none";
    }

    function showSickText() {
      document.getElementById("maindisplay").style = "background-color: red";
      document.getElementById("defaulttext").style = "display:none";
      document.getElementById("sickText").style = "display:unset";
      document.getElementById("healthyText").style = "display:none";
    }

    function showHealthyText() {
      document.getElementById("maindisplay").style = "background-color: green";
      document.getElementById("defaulttext").style = "display:none";
      document.getElementById("sickText").style = "display:none";
      document.getElementById("healthyText").style = "display:unset";
    }

</script>
<div class="jumbotron" id="maindisplay">
    <h1 id="defaulttext" class="centeredText">Please proceed slowly. Temperature check in progress.</h1>
  <h1 id="sickText" class="centeredText" style="display:none">You have a fever!</h1>
  <h1 id="healthyText" class="centeredText" style="display:none">You're good to go!</h1>
</div>
</body>
</html>
