<!DOCTYPE html>
<html>
<head>
  <title>Too Hot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/yellow.css">

</head>
<body>

  <div class="jumbotron" id="maindisplay">
      <h1 id="defaulttext" class="centeredText">Please proceed slowly. Temperature check in progress.</h1>
    <h1 id="sickText" class="centeredText" style="display:none">You have a fever!</h1>
    <h2 id="sickText2" style="display:none">Enter your full name to request an Uber ride home.</h1>
    <h1 id="healthyText" class="centeredText" style="display:none">You're good to go!</h1>


    <input id="nameInput" type="text" name="Full Name">
    <button onclick="confirmName()">Confirm Name</button>
  </div>



  <div id="uber-button" data-bttnio-id="btn-473571aefeb8b56c" data-bttnio-context='{ "user_location": { "latitude": 40.6827, "longitude": -73.9754 }, "subject_location": { "latitude": 40.7382869, "longitude": -73.9823721 } }'></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          console.log("Connected to server socket!");
      });
      socket.on('newtemp', function (msg) {
          console.log(msg);
          if(msg['sick'] === "true") {
              showSickText();
              setTimeout(showDefaultText, 10000);
          } else {
              showHealthyText();
              setTimeout(showDefaultText, 5000);
          }
      });

      function showDefaultText() {
        document.getElementById("maindisplay").style = "background-color: white";
        document.getElementById("defaulttext").style = "display:unset";
        document.getElementById("sickText").style = "display:none";
        document.getElementById("sickText2").style = "display:none";
        document.getElementById("healthyText").style = "display:none";
      }

      function showSickText() {
        document.getElementById("maindisplay").style = "background-color: red";
        document.getElementById("defaulttext").style = "display:none";
        document.getElementById("sickText").style = "display:unset";
        document.getElementById("sickText2").style = "display:unset";
        document.getElementById("healthyText").style = "display:none";
      }

      function showHealthyText() {
        document.getElementById("maindisplay").style = "background-color: green";
        document.getElementById("defaulttext").style = "display:none";
        document.getElementById("sickText").style = "display:none";
        document.getElementById("sickText2").style = "display:none";
        document.getElementById("healthyText").style = "display:unset";
      }

      function confirmName() {
        var empName = document.getElementById("nameInput").value;
        $.get("/api/emps", function(data) {
            var dataArray = Object.keys(data).map(function(k) { return data[k] });
            console.log(dataArray);
            for(var i = 0; i < dataArray[0].length; i++) {
                console.log(dataArray[0][i].name);
                if(dataArray[0][i].name == empName) {
                    var newJSON = '{ "user_location": { "latitude": 39.9522, "longitude": -75.1932 }, "subject_location": { "latitude": 37.7749, "longitude": -122.4194} }';
                    $("#uber-button").attr("data-bttnio-context", newJSON);
                    bttnio('refresh');
                    console.log($("#uber-button"));
                }
            }
        });
      }

      window.ButtonWebConfig = {
        applicationId: 'app-1156c0a4c7fa23fb'
      };
      (function(u,s,e,b,t,n){
        u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
      })(window, document, 'script', 'bttnio');
    </script>

</body>
</html>
