<!DOCTYPE html>
<html>
<head>
  <title>Too Hot</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./static/assets/css/theme/yellow.css">
    <style type="text/css">
        .jumbotron{
    height: 100vh;
    }
        input[type="text"]{
background-color:white !important
}
    </style>
</head>
<body onload="showDefaultText()">

  <div class="jumbotron" id="maindisplay">
      <div class="container">
          <br><br>
          <center><h1 id="defaulttext" class="centeredText">Please proceed slowly. Temperature check in progress.</h1></center>
          <center><h1 id="sickText" class="centeredText" style="display:none">Possibility of fever (!)</h1></center>
          <center><h2 id="sickText2" style="display:none">If you feel symptoms, remember to wash your hands frequently, drink plenty of water, and get plenty of rest. If you wish, you may enter your name and use the button below to request an Uber home.</h2></center>
          <center><h1 id="healthyText" class="centeredText" style="display:none">Good to go!</h1></center>

          <div id="spinner">
                <br><br><br>
              <center><img src="./static/assets/images/spinner.gif" /></center>
          </div>

            <div id="namebox">
          <br><br>
          <center><input class="form-control" placeholder="Full Name" id="nameInput" type="text" name="Full Name"><button type="button" class="btn btn-primary" onclick="confirmName()">Confirm Name</button></center>

            </div>
    </div>
  </div>



  <div id="uber-button" data-bttnio-id="btn-473571aefeb8b56c" data-bttnio-context='{ "user_location": { "latitude": 40.6827, "longitude": -73.9754 }, "subject_location": { "latitude": 40.7382869, "longitude": -73.9823721 } }'></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          console.log("Connected to server socket!");
      });
      socket.on('newtemp', function (msg) {
          console.log(msg);
          if(msg['sick'] === "true") {
              showSickText();
              setTimeout(showDefaultText, 10000);
          } else {
              showHealthyText();
              setTimeout(showDefaultText, 5000);
          }
      });

      function showDefaultText() {
        document.getElementById("maindisplay").style = "background-color: white";
        document.getElementById("defaulttext").style = "display:unset";
        document.getElementById("sickText").style = "display:none";
        document.getElementById("sickText2").style = "display:none";
        document.getElementById("healthyText").style = "display:none";
        document.getElementById("namebox").style = "display:none";
        document.getElementById("spinner").style = "display:unset";
      }

      function showSickText() {
        document.getElementById("maindisplay").style = "background-color: orange";
        document.getElementById("defaulttext").style = "display:none";
        document.getElementById("sickText").style = "display:unset; color: white";
        document.getElementById("sickText2").style = "display:unset";
        document.getElementById("healthyText").style = "display:none";
        document.getElementById("namebox").style = "display:unset";
        document.getElementById("spinner").style = "display:none";
      }

      function showHealthyText() {
        document.getElementById("maindisplay").style = "background-color: #29C75F";
        document.getElementById("defaulttext").style = "display:none";
        document.getElementById("sickText").style = "display:none";
        document.getElementById("sickText2").style = "display:none";
        document.getElementById("healthyText").style = "display:unset; color:white";
        document.getElementById("namebox").style = "display:none";
        document.getElementById("spinner").style = "display:none";
      }

      function confirmName() {
        var empName = document.getElementById("nameInput").value;
        $.get("/api/emps", function(data) {
            var dataArray = Object.keys(data).map(function(k) { return data[k] });
            console.log(dataArray);
            for(var i = 0; i < dataArray[0].length; i++) {
                console.log(dataArray[0][i].name);
                if(dataArray[0][i].name == empName) {
                    var newJSON = '{ "user_location": { "latitude": 39.9522, "longitude": -75.1932 }, "subject_location": { "latitude": 37.7749, "longitude": -122.4194} }';
                    $("#uber-button").attr("data-bttnio-context", newJSON);
                    console.log($("#uber-button"));
                }
            }
        });
      }

      window.ButtonWebConfig = {
        applicationId: 'app-1156c0a4c7fa23fb'
      };
      (function(u,s,e,b,t,n){
        u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
      })(window, document, 'script', 'bttnio');
    </script>

</body>
</html>
